<!DOCTYPE html>
<html lang="en">
<title><{{tile}}</title>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" herf="/public/stylesheets/style.css">
  <!-- <link rel="icon" type="image/x-icon" href="/images/favicon.ico"> -->
  <!-- <script src="/javascripts/pixi.min.js"></script> -->
  <script src="/javascripts/sprites.js"></script>
   <script src="/javascripts/renderer.js"></script>
  <!-- <script src="/javascripts/compromise.min.js"></script> -->
  <script src="/javascripts/listen.js"></script>
  <script src="/javascripts/worker.js"></script>
  <script src="/javascripts/nlp.js"></script>

</head>
<body>
  <h1>{{title}}</h1>
  <p>Welcome to {{name}}</p>
  <div class="buttons">
      <button id="listen" class="btn-danger buttons" onclick="startRecord(function(res) {
            //callMe(res);
            //console.log('res:' + res);
            var fixed = res.charAt(0).toUpperCase() + res.slice(1) + '.';
            //appends to scrolling text
            myNlp(res, function(obj) {
                //addToScene(obj);
                console.log(obj.fileName);
                backgroundToggle(obj.fileName);
            });
            var fragment = create('<p class=&quot;scrolling&quot;>' + fixed + '</p>');
            document.getElementById('append-here').appendChild(fragment)
            //console.log('res:' + res);
      })">Start</button>
      <button id="stopListen" class="btn-secondary buttons" onclick="stopRecording()">Stop</button>
  </div>
  <div class="app-container">
      <div class="canvas">
          <div id="mainCanvas" width="720px" height="715">
              <div id="skull" class="initialSkull"><img class="skeleton" src="../images/objects/skull.png"></div>
              <div id="treasure_chest" class="initialChest"><img class="chest" src="../images/objects/treasure_box.png"></div>
              <div id="gold_mask" class="initialMask"><img class="mask" src="../images/objects/gold_mask.png"></div>
              <div id="mace" class="initialMace"><img class="mace" src="../images/objects/mace.png"></div>
              <div id="blue_potion" class="initialBlue"><img class="potion" src="../images/objects/blue_potion.png"></div>

          </div>
      </div>
      <div style="position: relative; height:720px" id="speechBox" >
          <marquee id="append-here" class="GeneratedMarquee" direction="up" scrollamount="3" behavior="scroll">
          </marquee>
      </div>
  </div>

<!--   <script type="text/javascript">

   //set up voice recognition variable

    var type = "WebGL";
    if(!PIXI.utils.isWebGLSupported()){
      type = "canvas"
    }
  </script> -->
</body>
</html>