<!DOCTYPE html>
<html lang="en">
<title><{{tile}}</title>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" herf="/public/stylesheets/style.css">
  <!-- <link rel="icon" type="image/x-icon" href="/images/favicon.ico"> -->
  <script src="/javascripts/pixi.min.js"></script>
  <script src="/javascripts/listen.js"></script>
</head>
<body>
  <h1>{{title}}</h1>
  <p>Welcome to {{name}}</p>
  <button id="listen" onclick="startRecord(function(res) {
        //callMe(res);
  })">Start</button>
  <button id="stopListen" onclick="stopRecording()">Stop</button>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.min.js"></script> -->
  <script type="text/javascript">

   //set up voice recognition variable

    var type = "WebGL"
    if(!PIXI.utils.isWebGLSupported()){
      type = "canvas"
    }

    PIXI.utils.sayHello(type)

  //Create the renderer
    var renderer = PIXI.autoDetectRenderer(920, 880);

    //Add the canvas to the HTML document
    document.body.appendChild(renderer.view);

    //Create a container object called the `stage`
    var stage = new PIXI.Container();
    renderer.render(stage);
  </script>
</body>
</html>